@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-in {
  animation: fade-slide-in 0.8s ease-out forwards;
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}


@theme {
  --font-poppins: "Poppins", sans-serif;

  /* Colores oficiales Thalys */
  --color-thalys-red: #A92130;
  --color-thalys-gold: #C88A31;
  --color-thalys-blue: #0D1A22;

  /* Neutros */
  --color-thalys-gray: #232029;
  --color-thalys-text: #555555;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
  }

  body {
    @apply bg-white text-thalys-gray m-0 min-h-screen;
  }

  main {
    @apply w-full min-h-screen flex flex-col;
  }

  .logo {
    @apply w-48 md:w-56 object-contain drop-shadow-lg mb-8;
  }

  h1 {
    @apply text-4xl md:text-5xl font-poppins font-bold text-thalys-gray text-center;
  }

  p {
    @apply text-lg md:text-xl text-center text-thalys-text max-w-xl;
  }

  p a {
    @apply font-medium border-b-2 text-thalys-gold border-thalys-gold;
  }

  p a:hover {
    @apply text-thalys-red border-thalys-red;
  }
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 25px;
  background: #a92130 !important;
}